@import './normalize.scss';
@import '../icons/iconfont.css';
@import './/tool.scss';

// 一些过度类名
.main-enter-active, .main-leave-active {
  transition: all .3s ease;
}
.main-enter, .main-leave-to  {
  transform: translateX(20px);
  opacity: 0;
}